*{margim:0; padding:0}
html, body{
	heigth:100%;
	overflow:hidden;
}
#bg{
	width:100%;
	heigth:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}
#content{
	width:100%;
	heigth:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	overflow:auto;
}